.block2, .mesta-menu li .sub-menu, article, .sidebar{
		background-color: #F5F5F5;
		border: 1px solid grey;
}

body {
	background-color: white;
}
header {
	max-width: 960px;
	display: block;

	margin: auto;
}

.sidebar {
	max-width:930px;
	margin:10px auto;
	padding:15px;
}

.widget_search{

	display:block;
	text-align:right;
}

.content{
	max-width: 960px;
	margin: auto;
}


h1{
	margin-bottom: 5px;
	font-size: 18px;
	text-align: center;
}

h2 {
	margin-bottom: 5px;
	font-size: 16px;
	text-align: center;
}

.block1{
	margin-top: 20px;
}




.block2 ul{
	margin: auto;
	padding:0;
	text-align: center;
}

.block2 ul li{
	display: inline-block;
	padding: 15px;
}


/*табличное оформление*/
.block-organization {
text-align: center;
}

.block-cell{
	width: 317px;
	padding: 0;
	display: inline-block;
}

.block-ul{
	/*width: 300px;*/
}

.block-ul img{
	float: left;
	padding-right: 10px;
}

.block-ul ul {
	margin: 10px;
	padding: 0;

}


.block-ul ul li {
	text-align: left;
	display: block;
	padding: 0;
}

.mesta-div {
	width:90%;
	margin: 0 auto;
	padding:0;
	text-align:center;
}

.mesta-menu {
	width:100%;
	padding:0;
	margin:0;
}

.mesta-menu li {
/* 	background-color:rebeccapurple; */
	display:inline-block;
	margin:10px 5px 0;
	padding:0;
	height:inherit;
	vertical-align: top;
}

.mesta-menu li a{

}

.mesta-menu li .sub-menu {
	width:300px;;
	padding:0;
	margin:10px;
}

.mesta-menu li .sub-menu li {
	display:block;
	text-align:left;
	height:40px;
}

/* category */
section{
	margin:0 auto;
	width:960px;
}

.category-h1{
	color:
}

article {
	margin:20px 0;
}

article img {
	display:inline-block;
}