body {
	min-width:350px; /*минимальная ширина сайта*/
	background-color: white; /*белый фон*/
}

footer{
	max-width:960px;
}

.block2, .mesta-menu li .sub-menu, article, .sidebar, section, .block-2lv, .div-next-prev a{ /*вид основных блоков сайта*/
		background-color: #F5F5F5; /*серый фон*/
		border: 1px solid grey; /*рамка*/
box-shadow:         5px 11px 20px 0px rgba(50, 50, 50, 0.63); /*тень*/
-webkit-box-shadow: 5px 11px 20px 0px rgba(50, 50, 50, 0.63);
-moz-box-shadow:    5px 11px 20px 0px rgba(50, 50, 50, 0.63);
border-radius:25px; /*закругленные углы*/
padding:25px;/*внутренний отступ*/
margin-bottom:30px;/*внешний отступ*/
}

a {
	color:blue;
	text-decoration:none;
	/*text-shadow: 5px 5px 7px rgba(85, 119, 115, 1);*/
}

a:hover {
	text-decoration:underline;
	text-shadow: 5px 5px 7px rgba(255, 155, 0, 1);
}

header {
	max-width: 960px;
	display: block;

	margin: auto;
}

.sidebar {
	max-width:930px;
	margin-left: auto;
	margin-right: auto;
	padding:15px;
}

.widget_search{ /*строка поиска*/
	display:block;
	text-align:right;
}

.content{
	max-width: 960px;
	margin: auto;
}


h1{
	margin-bottom: 5px;
	font-size: 18px;
	text-align: center;
}

h2 {
	margin-bottom: 5px;
	font-size: 16px;
	text-align: center;
}

.block1{
	margin-top: 20px;
}


.block2 ul{
	margin: auto;
	padding:0;
	text-align: center;
}

.block2 ul li{
	display: inline-block;
	padding: 15px;
}


/*табличное оформление*/
.block-organization {
text-align: center;
}

.block-cell{
	width: 317px;
	padding: 0;
	display: inline-block;
}

.block-ul{
	/*width: 300px;*/
}

.block-ul img{
	float: left;
	padding-right: 10px;
}

.block-ul ul {
	margin: 10px;
	padding: 0;

}


.block-ul ul li {
	text-align: left;
	display: block;
	padding: 0;
}

.mesta-div {
	max-width:996px;
	margin: 0 auto;
	padding:0;
	text-align:center;
}

.mesta-menu {
	width:100%;
	padding:0;
/* 	margin:0; */
}

.mesta-menu li {
/* 	background-color:rebeccapurple; */
	width:322px;
	display:inline-block;
	margin:10px 5px 0;
	padding:0;
	height:inherit;
	vertical-align: top;
}

.mesta-menu li a{

}

.mesta-menu li .sub-menu {
	width:290px;
	padding:10px;
	padding-bottom:20px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;

}

.mesta-menu li .sub-menu li {
	display:block;
	text-align:left;

}

/* category */
section{
	margin-left:auto;
	margin-right:auto;
	max-width:910px;
}

.category-h1{
	color:
}

.category {
	min-height:110px;
	margin:20px 0;
	padding:15px;
	text-align:center;
}

.category-img {
	float:left;
	width:200px;
	width:inherit;
	height:150px;;
	min-height: 1px;
    min-width: 200px;
    border-radius:25px;
    border:3px solid silver;
    overflow:hidden;
    background: url(../img/net-foto.gif) center no-repeat;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%;
}


.category-img img{
	width:100%;
	height:100%;
}

.category-title {
	text-align:center;
}

.category-meta {
	float:right;
	width:250px;
	margin:auto 0;
	text-align:left;
	min-height:1px;
}

.post-meta {
	margin:0;
	padding:0;
	list-style-type: none;
}

.post-meta li{
	margin-bottom:10px;
}

.post-meta li span {
	font-weight: bold;
}


/*что б после флоат не пропадала высота*/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
/* конец что б после флоат не пропадала высота*/


.category-title {
/* 	background-color:red; */
display:inline-block;
margin:auto;
max-width:470px;
padding-top:40px;
}

/*Одна запись нижние углы ровные*/
#single{
	margin-bottom:0;
	border-radius:25px 25px 0 0;
}


/* Одна запись кнопки вперед назад */
.div-next-prev{
	margin-top:0;
}

.div-next-prev a{
	/*width:40%;*/
}

.div-next-prev a:hover{
	color:black;


}

.div-next-prev a[rel="prev"]:hover {
		background: rgb(226, 226, 226);
background: -moz-linear-gradient(0deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(0deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(0deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(0deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
background: linear-gradient(90deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
}

.div-next-prev a[rel="prev"] {
	float:left;
	border-radius:0 0 50px 50px;
}

.div-next-prev a[rel="next"]:hover {
background: rgb(226, 226, 226);
background: -moz-linear-gradient(180deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
background: -webkit-linear-gradient(180deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
background: -o-linear-gradient(180deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
background: -ms-linear-gradient(180deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
background: linear-gradient(270deg, rgb(226, 226, 226) 49%, rgb(255, 255, 255) 100%);
}

.div-next-prev a[rel="next"]:last-child {
	float:right;
	border-radius:0 0 50px 50px;
}

/* конец кнопок вперед назад */